:root {
    --black: #000;
    --white: #fff;
    --blue: #3877EE;
    --green: #6ABF4B;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
}
#map { 
    width: 100vw;
    height: calc(100vw * 1080px / 1920px);
    z-index: 1;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(2, 15, 32, 0.4);
    z-index: 25;
}  

