:root {
    --black: #000;
    --white: #fff;
    --blue: #3877EE;
    --green: #6ABF4B;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
}
#map { 
    width: 100vw;
    height: calc(100vw * 1080px / 1920px);
    z-index: 1;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(2, 15, 32, 0.4);
    z-index: 2;
}  
button {
    position: absolute;
    width: 41px;
    height: 41px;
    border: none;
    border-radius: 20px;
    opacity: 0.7;
    z-index: 100;
    transition: all 2s ease-in;
}

button svg.svg-minus {
    position: absolute;
    top: 21px;
    left: 21px;
    transform: translate(-50%, -50%);
    display: none;
}
button span {
    color: var(--White, #FFF);
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    display: none;
}

#btn0 {
    top: calc(714 / 1080 * 100%);
    left: calc(446 / 1920 * 100%);
    background: var(--blue);
}
#btn1 {
    top: calc(282 / 1080 * 100%);
    left: calc(580 / 1920 * 100%);
    background: var(--blue);
}
#btn2 {
    top: calc(482 / 1080 * 100%);
    left: calc(687 / 1920 * 100%);
    background: var(--green);
}
#btn3 {
    top: calc(629 / 1080 * 100%);
    left: calc(1081 / 1920 * 100%);
    background: var(--blue);
}
#btn4 {
    top: calc(805 / 1080 * 100%);
    left: calc(1122 / 1920 * 100%);
    background: var(--green);
}
#btn5 {
    top: calc(404 / 1080 * 100%);
    left: calc(1148 / 1920 * 100%);
    background: var(--green);
}
#btn6 {
    top: calc(669 / 1080 * 100%);
    left: calc(1306 / 1920 * 100%);
    background: var(--green);
}
#btn7 {
    top: calc(225 / 1080 * 100%);
    left: calc(1373 / 1920 * 100%);
    background: var(--blue);
}
#btn8 {
    top: calc(475 / 1080 * 100%);
    left: calc(1414 / 1920 * 100%);
    background: var(--blue);
}
#btn9 {
    top: calc(713 / 1080 * 100%);
    left: calc(1593 / 1920 * 100%);
    background: var(--blue);
}
button.opened-btn span {
    display: inline-block;
}
button.opened-btn svg.svg-plus {
    display: none;
}
button.opened-btn svg.svg-minus {
    display: inline-block;
}
button.opened-btn {
    width: fit-content;
    padding: 11px 15px 11px 41px;
    opacity: 1;
    border-radius: 20px;
}